:root {
	--width: 75%;
	--font-size: 20px;
}

body {
	color: white;
	height: 95vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font: 15px/1.3 'Open Sans', sans-serif;
}

.center {
	width: 50%;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	background-color: #61A1BC;
	border-radius: 4px;
}

.center h1 {
	font-size: 44px;
	font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
}

#app {
	display: flex;
	align-items: center;
	flex-flow: column nowrap;
	width: 100%;
}

#app ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: var(--width);
}

/* bind to list */
.active { /* green color */
	background-color: #8EC16D !important;
}

.list { /* default list color */
	cursor: pointer;
	background-color: #E35885;
	padding: 18px 30px;
	font-size: var(--font-size);
	font-weight: 700;
}

.list:not(:last-of-type) {
	margin-bottom: 7px;
}

.list:last-of-type {
	margin-bottom: 16px;
}

.list span, .total span {
	float: right;
}

.total {
	border-top: 1px solid white;
	padding: 15px 30px;
	margin-bottom: 25px;
	font-size: var(--font-size);
	font-weight: 700;
}

@media (min-width: 1440px) {
	.center {
		width: 35%;
	}
}

@media (max-width: 1025px) {
	.center {
		width: 60%;
	}
}

@media (max-width: 840px) {
	.center {
		width: 70%;
	}
}

@media (max-width: 650px) {
	.center {
		width: 80%;
	}
}
